body {
  background-color: #bee5e2;
}
.square {
    width: 50px;
    height: 50px;
    margin: 0px;
    outline: 1px solid;
    display: inline-block;
    float: left;
    background: #FFFFFF;
}
#input-grid {
  text-align: center;
  margin-bottom: 30px;
}
#title {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2.5em;
  color: #eb5a26;
}
.container {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 0 auto;
}
.row {
  width: auto;
  height: 50px;
  background: #313131;
}
#button, #clear-button{
  display: inline-block;
  height:20px;
	width:70px;
	background-color:#cc0000;
	font-family:arial;
	font-weight:bold;
	color:#ffffff;
	border-radius: 5px;
	text-align:center;
	margin-top:2px;
  cursor: pointer;
  display: inline-block;
}
